@model IEnumerable<Blog.Model.ViewModels.UsersViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Last name
        </th>
        <th>
            Email
        </th>
        <th>
            Email confirmed
        </th>
        <th style="min-width: 200px">
            Roles
        </th>
        <th style="min-width: 200px">
            Permissions
        </th>
        <th>
            User name
        </th>       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @foreach(string role in item.Roles)
                {
                    <p>@role</p>
                }
            </td>
            <td>
                @foreach(string permission in item.Permissions)
                {
                    <p>@permission</p>
                }
            </td>
            
            <td>
                @Html.ActionLink("Edit permissions", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
